.home {
  padding: 1.3rem 1.3rem 7rem;
  width: 90%;
  margin: 0px auto;
}

.home h2 {
  margin-bottom: 1rem;
}

.videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.video .thumb {
  width: 100%;
  height: 180px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  border-radius: 4px;
}

.video .video-info-container {
  display: flex;
  margin-top: 0.3rem;
}

.video .channel-avatar img {
  position: relative;
  top: 5px;
}

.eSwYtm {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  object-fit: cover;
}

.video .video-info span {
  font-size: 0.9rem;
  padding-right: 0.1rem;
}

.secondary {
  color: rgb(170, 170, 170);
}
