.content {
  padding: 2rem 1.3rem 7rem;
  width: 85%;
  margin: 0px auto;
}

.video {
  margin: 1rem 0px 1.4rem;
  display: flex;
}

.video .thumb {
  width: 250px;
  height: 140px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  border-radius: 4px;
}

.video .video-info-container {
  margin-left: 1.2rem;
}

.video p {
    font-size: 0.9rem;
}

.secondary {
    color: rgb(170, 170, 170);
}

.video p:last-child {
  margin-top: 0.2rem;
}

.video p span {
  padding-right: 0.3rem;
}
